@import 'ext/solarized-light';

.highlight {
	border-radius: 10px;
	background-color: #f4f4f4;
}

div.highlight {
	padding: 5px 20px;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
}

p > code {
	border-radius: 4px;
	background-color: #f4f4f4;
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	font-size: 90%;
    padding: 0.2em 0.4em;
}